body{
    background-color: palevioletred;
    color: white;
    margin: 10px;
}

header{
    background-color: thistle;
    color: white;
    margin: 0;
    padding: 15px 15px 0px 15px;
}

header h1{
    margin: 0;
    display: inline-block;
}

nav ul{
    margin: 0;
    display: inline-block;
    padding: 0 0 0 15px;
}

nav ul li{
    background-color: gray;
    color: wheat;
    list-style-type: none;
    display: inline-block;
    margin: 5px;
    padding: 5px 15px;
}

nav ul li a{
    color: white;
}

div.row{
    
}

div.col{
    background-color: #333;

    float: left;
    margin: 1%;
    padding: 1%;
    width: 16%;
}

footer{
    clear: both;
}